*.pyc
.DS_Store
/.venv/
/*/settings/local.py
/.static/
/.media/
/.vagrant/
Vagrantfile.local
/docs/_build/
/db.sqlite3
.idea
/.sass-cache
/sass
.config.rb
.0003_auto_20150108_1947.py
.0004_auto_20150108_2120.py
.0005_auto_20150112_2254.py
.0006_auto_20150114_1347.py